body{
  position: relative;
  min-height: 100vh;
}
li>a{
  font-size: 2rem !important;
}
li>a:hover{
  color: white;
}
.brand-logo{
  font-weight: bolder;
  font-size: 3rem !important;
}
.b_down{
  border-bottom:1px solid gray;
}
.btn_my{
  padding: none !important;
}
.myBody{
  margin-top: 20px;
}

.mybtn{
  width: 100%;
}
.pRel {
  display: flex;
  justify-content: space-between;
}
.p-2{
  width: 50%;
}
.dFlex{
  position: absolute;
    right: -10px;
    top: 120px;
}
.dFlex::after{
  position: absolute;
  border: 5px solid #f44336;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 0px;
  height: 0px;
  content: '';
  top:-10px;
  right: 0px;
  }
  .m10{
    margin-top: 20px;
  }
  .btnA{
    margin: 10px !important;
  }