body{
  position: relative;
  min-height: 100vh;
}
li>a{
  font-size: 2rem !important;
}
li>a:hover{
  color: white;
}
.brand-logo{
  font-weight: bolder;
  font-size: 3rem !important;
}
.b_down{
  border-bottom:1px solid gray;
}
.btn_my{
  padding: none !important;
}
.myBody{
  margin-top: 20px;
}

.mybtn{
  width: 100%;
}
.pRel {
  display: flex;
  justify-content: space-between;
}
.p-2{
  width: 50%;
}
.dFlex{
  position: absolute;
    right: 5px;
    top: 120px;
}

  .m10{
    margin-top: 20px;
  }
  .btnA{
    margin: 10px !important;
  }
  .create{
    margin-left: -10%;
  }
  .view-all{
    margin-right: -5%;
  }