.btn_my{
  padding: 12px;
  text-align: center;
  line-height: 12px;
  border-radius: 5%;
}

.myBody{
  margin-top: 20px;
}

.mybtn{
  width: 100%;
}
.user{
  margin-top: 7%;
}
.accounts{
  margin-right: 10%;
}
.trans{
  margin-right: 11%;
}
.dollar{
  margin-top: 6%;
}

nav ul a{
  font-size: 1.8rem;
}
nav .brand-logo{
  font-size: 2.8rem;
}
#modal2{
  top:10%;
  z-index: 99999;
  overflow: visible;
  
  
}

.withdrawModal{
  top:10%;
  z-index: 99999;
  overflow: visible;
}
.deposite{
  top:10%;
  z-index: 99999;
  overflow: visible;
}
.transaction{
  top:10%;
  z-index: 99999;
  overflow: visible;
}
